# Paste your bot token after the =
DISCORD_TOKEN=

# Optional - only change these if your server uses different names
COMMUNITY_ROLE_NAME=Community
STAFF_ROLE_NAME=.
SIGNUP_CHANNEL_NAME=signup
TEAMS_CHANNEL_NAME=teams
TICKET_CATEGORY_NAME=Bracket Signups
